<% layout('layout2') %>

<div id="wrapper">

    <% include ./partials/sidebar %>

    <div id="page-content-wrapper">
        <% include ./partials/navbar %>
        <div class="container-fluid main_body">
			<div class="ul_links">
	            <ul>
	                <li><a href="/home">Home</a></li> |
	                <li><a href="/contacts_all">All Contacts</a></li>
	            </ul>
	        </div>

            <div class="bodyDiv">
				<h4 style="">Users</h4>
        <% if (noErrors) {%>
            <div class="alert alert-success">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">
                   &times;
               </a>
               <%= success %>
            </div>
        <% } %>
        <% if (noDeleteErrors) {%>
            <div class="alert alert-success">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">
                   &times;
               </a>
               <%= deleted %>
            </div>
        <% } %>
      <% for (var i = 0; i < data.length; i++ ) { %>
        <div class="row">
          <div class="col-md-4" style="margin-bottom:10px;">
            <div class="companyListDiv user-panel">
              <div class="row">
                <div class="col-xs-4">
                  <img src="/uploads/<%= data[i].image %>" class="img-responsive">
                </div>
                <div class="col-xs-8">
                  <div class="companyListItemInfo">
                      <h5 class=""><%= data[i].username %></h5>
                      <span>
                        <i class="star"></i>
                        <%= data[i].email %>
                      </span>
                      <% if (data[i].username !== 'Moiz Ali') { %>
                          <a href="#" class="btn btn-danger btn-sm pull-right mt-2 delete-user" role="button" dataId= <%= data[i]._id %>>Delete</a>
                      <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>
      </div>
    </div>
</div>

    <!-- <a href="" class="btn btn-danger btn-sm pull-right mt-2" >Delete</a> -->
